@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  background-color: #FFFFFF;
  /* #FFFFFF */
}

.btn {
  background-color: #B81DDA;
  border-radius: 1000px;
  color: #FFFFFF;
  border: none;
}

.btn:hover {
  background-color: #B81DDA;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.hero {
  /* height: 901px; */
  height: 742px;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-container {
  background-color: #FFFFFF;
}

.img-text {
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 135px;
}

.img-s {
  width: 570px;
  height: 366px;
  border-radius: 20px 20px 20px 20px;
}



/* @media (max-width: 900px) {
  .hero {
    height: 810px;
  }
}

@media (min-width: 901px) and (max-width: 3000px) {
  .hero {
    height: 813px;
  }
} */